@using PushPull.Resources
@model PushPull.Models.AssetViewModel
<h2>title</h2>

<style>
    .green-bg {
        color: #fff;
        background: #26c281;
        background-color: #26c281;
    }

    .info-box {
        min-height: 140px;
        margin-bottom: 30px;
        padding: 20px;
        color: white;
        -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
    }

        .info-box i {
            display: block;
            height: 100px;
            font-size: 60px;
            line-height: 100px;
            width: 100px;
            float: left;
            text-align: center;
            margin-right: 20px;
            padding-right: 20px;
            color: rgba(255, 255, 255, 0.75);
        }

        .info-box .count {
            margin-top: 20px;
            font-size: 34px;
            font-weight: 700;
        }
        .info-box .title {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
        }
</style>

<div class="container">
    <div class="row">
        <div class="row row-eq-heightt">
            <div class="col-sm-4">
                <h3>Assets</h3>
            </div>
        </div>
    </div>
    <hr />
    <hr />
    <div class="row" style="overflow-y: auto">
        <div class="panel panel-success">
            <div class="panel-heading clickable">
                <h3 class="panel-title">@Resource.MoneyAsset</h3>
                <span class="pull-right"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                <div class="col-md-offset-2 col-md-3">
                    <div class="info-box green-bg">
                        <i class="fa fa-cubes"></i>
                        <div class="count">1.426</div>
                        <div class="title">Stock</div>
                    </div><!--/.info-box-->
                </div>
                <div class="col-md-offset-3 col-md-3">
                    <div class="info-box green-bg">
                        <i class="fa fa-cubes"></i>
                        <div class="count">1.426</div>
                        <div class="title">Stock</div>
                    </div><!--/.info-box-->
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="overflow-y: auto">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading clickable">
                    <h3 class="panel-title">@Resource.TimeAsset</h3>
                    <span class="pull-right"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>
